# Craftopia\BepInEx\core
# Craftopia\Craftopia_Data\Managed
#   からファイルを配置します。
#   ソース管理には含めていません
!.gitignore
*.*

# 以下は必要ファイル

BepInEx.dll

0Harmony.dll
0Harmony.xml
BepInEx.Harmony.dll

UnityEngine.CoreModule.dll
UnityEngine.dll

Assembly-CSharp.dll

# UI用
UnityEngine.UI.dll
UnityEngine.UIModule.dll
# Font
UnityEngine.TextRenderingModule.dll
# Rigidbody
UnityEngine.PhysicsModule.dll
# Animator
UnityEngine.AnimationModule.dll
# AssetBundle用
UnityEngine.AssetBundleModule.dll